



// project specific CSS goes here

////////////////////////////////
		//Variables//
////////////////////////////////

// Alert colors

$white: #fff;
$mint-green: #d6e9c6;
$black: #000;
$pink: #f2dede;
$dark-pink: #eed3d7;
$red: #b94a48;

////////////////////////////////
		//Alerts//
////////////////////////////////

// bootstrap alert CSS, translated to the django-standard levels of
// debug, info, success, warning, error

.alert-debug {
    background-color: $white;
    border-color: $mint-green;
    color: $black;
}

.alert-error {
    background-color: $pink;
    border-color: $dark-pink;
    color: $red;
}

.main_container {
    .blank {
        background-color: #F7F7F7;
        width: 100%;
        height: 100%;
        position: absolute;
        display: block;
        padding: 0px;
        top: 0px;
        left: 0px;

        .form-container {
            margin-top: 100px;
        }

        .nav_menu {
            .logo {
                font-weight: bold;
                font-size: 24px;
                color: #5e6974;
                padding: 10px;
            }
        }

        .login {
            background-color: $white;
        }
    }

    .crud-list {
        .actions span {
            margin: 0 8px;
        }
    }
}

.feedz {
    .home {
        .feed-navigator {

            .cat_toggle {
                cursor: pointer;
            }

            .channel {
                .x_title {
                    h2 {
                        font-size: 14px;
                    }

                }

                .widget_tally_box {
                    width: 400px;
                }

                .widget_tally {
                    .property {
                        width: 50%;
                        float: left;
                        text-align: left;
                    }

                    .value {
                        width: 50%;
                        float: left;
                        text-align: right;
                    }
                }
            }
        }
    }

    .subscribe {
        .channel-url {
            font-size: 14px;
        }

        .last-sync-info {
            font-size: 14px;
        }

        .post-list {
            .post {
                .title {
                    font-size: 13px;
                    font-family: sans-serif;
                    font-weight: bold;
                    margin: 4px 0 4px 40px;
                }

                .favorite {
                    cursor: pointer;
                    margin: 4px 8px;
                }

                .active {
                    color: #1ABB9C;
                }

                .date {
                    margin: 4px 8px;
                }

                .check {
                    margin: 4px 8px;
                    cursor: pointer;
                }

                &:hover {
                    background-color: #EEE;
                }
            }

            .disable {
                color: #dadada;

                a {
                    color: #dadada;

                    &:hover {
                        color: #dadada;
                    }
                }

                .active {
                    color: #dadada;
                }
            }
        }
    }

}
