{% extends "side_menu.html" %}

{% load i18n %}
{% load static %}

{% block custom_js %}
<script src="{% static 'aggregator/js/channel.js' %}"></script>
{% endblock %}

{% block title %}{{ channel.category.name }} > {{ channel.name }}{% endblock title %}

{% block content %}

<div class="col-md-12 subscribe">
  <div class="x_panel">
    <div class="x_title">
      <h2>
        {{ channel.category.name }}
        <i class="fa fa-angle-right"></i>
        {{ channel.name }}
        <span class="channel-url">({{ channel.url }})</span>
        <span class="last-sync-info">
          {{ channel.last_sync|date:'d.m.Y (H:i)' }}
        </span>
      </h2>
      <ul class="nav navbar-right panel_toolbox">
        <li><a href="{% url 'channel-update' channel.pk %}"><i class="fa fa-edit"></i></a> </li>
        <li><a href="#delete"><i class="fa fa-remove"></i></a> </li>
      </ul>
      <div class="clearfix"></div>
    </div>

    <div class="xcontent post-list">

      {% for item in posts %}
        <div class="row post">
          <div class="col-md-10">
            <span class="glyphicon glyphicon-bookmark favorite" post_id="{{ item.id }}"></span>
            <span class="glyphicon glyphicon-ok check" date="{{ item.published|date:'d-m-Y H:i:s' }}"></span>
            <a class="title" href="{{ item.url }}" target="_blank">
              {{ item.title|truncatechars:150 }}
            </a>
          </div>
          <div class="col-md-2">
            <p class="date pull-right">{{ item.published|date:'d.m.Y (H:i)' }}</p>
          </div>
        </div>
      {% endfor %}

    </div>
  </div>
  <button type="button" class="btn btn-primary mark-all">Пометить как прочитанное</button>
</div>

{% endblock %}
