{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}
{% block form_title %}{% trans "Change Password" %}{% endblock %}

{% block inner %}

<form method="POST"
      action="{% url 'account_change_password' %}"
      class="password_change form-horizontal form-label-left">
  {% csrf_token %}
  {{ form|crispy }}

  <div class="ln_solid"></div>

  <div class="item form-group">
    <button class="btn btn-primary" type="submit" name="action">{% trans "Change Password" %}</button>
  </div>
</form>

{% endblock %}
