{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}
{% block form_title %}{% trans "Set Password" %}{% endblock %}

{% block inner %}

<form method="POST"
      action="{% url 'account_set_password' %}"
      class="password_set form-horizontal form-label-left">
  {% csrf_token %}
  {{ form|crispy }}

  <div class="ln_solid"></div>

  <div class="item form-group">
    <input class="btn btn-primary" type="submit" name="action" value="{% trans 'Set Password' %}"/>
  </div>
</form>

{% endblock %}
